#----------------------
packages: 
  yum:
    mc: [] 
    gcc: []
#----------------------
groups:
  groupOne: {}
  groupTwo:
    gid: "145"
#----------------------
users:
  myuser:
    groups:
      - groupOne
      - groupTwo
    uid: "1150"
    homeDir: "/tmp"
#----------------------
sources:  
  /home/ec2-user: http://altiwebsite.s3-website.eu-north-1.amazonaws.com/poodle.zip
#----------------------
services:
  sysvinit:
    nfs:
      enabled: "true"
      ensureRunning: "true"
#----------------------
commands:
  create_test_dir: 
    command: "sudo cp /home/ec2-user/index.html /var/app/current/index.html"
    cwd: /home/ec2-user
    env: 
      myvar: Hello
#container_commands:
#  copy_my_files:
#    command: "sudo cp /home/ec2-user/index.html /var/app/current/index.html"
